<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content">
    <div class="container-xxl">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Attendee Details</h4>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table datatable" id="datatable_1">
                  <thead class="table-light">
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Ticket Type</th>
                      <th>
                        Area of expertise
                      </th>
                      <th>Level of experience</th>
                      <th>Link to CV</th>
                    </tr>
                  </thead>
                  <tbody id="userList">
                  </tbody>
                </table>
              </div>
            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
  </div>
  <!-- end page content -->
</div>
<script src="/assets/utils/loadDataTable.js"></script>
<script src="/assets/utils/getUsers.js"></script>